<html>
<body>
<br/>
<table>
    <tr>
        <td rowspan="2">Nom: {{ name }}</td>
        <td>Titre de l'annonce : {{ job.title }}</td>
    </tr>
    <tr>
        <td>Lien vers l'annonce: {{ path('job_preview', {'country_code': job.country, 'contract_type': job.contractType, 'slug': job.slug}) }}</td>
    </tr>
</table>
</body>
</html>
