<html>
<body>
<br/>
<table>
    <tr>
        <td rowspan="2">Nom: {{ name }}</td>
        <td>Titre de l'annonce : {{ job.title }}</td>
    </tr>
    <tr>
        <td>Lien vers l'annonce: {{ path('admin_sensiolabs_jobboard_job_edit', {'id': job.id}) }}</td>
    </tr>
</table>
</body>
</html>
